[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#tesserocr = {path = "./tesserocr"}
tesserocr = "*"

[dev-packages]
docutils = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
